/* icon togler navbar */
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.icon.menu-btn {
  display: none;
}
.icon.cancel-btn {
  display: none;
}
// end.......
nav.navbar {
  padding: 40px 90px;
  z-index: 1;
  transition: all 0.3s ease;
  .container-fluid {
    padding: 0;
  }
  .navbar-nav {
    a.nav-link {
      font-size: 20px;
      color: #b0c3c9;
      margin-left: 23px;
    }
    .active {
      font-weight: 500;
      color: #f2ad5f !important;
    }
    .active::after {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 2px;
      background: #f2ad5f;
      border-radius: 27px;
    }
  }
}

.sticky {
  padding: 10px 90px !important;
  background: #16161a;
  color: #fffffe;
}

/* responsive */
@media (max-width: 768px) {
  /* sticky */
  .sticky {
    padding: 10px 20px !important;
  }
  body.disabledScroll {
    overflow: hidden;
  }

  .icon.menu-btn.hide {
    display: none !important;
  }
  .icon.cancel-btn.hide {
    display: none !important;
  }
  /* icon navbar colapse */
  .icon.menu-btn {
    display: block;
  }
  .icon.cancel-btn {
    display: block;
    position: absolute;
    right: 30px;
    cursor: pointer;
  }
  nav.navbar {
    padding: 40px 20px;
    /* custom navbar sticky */
    .navbar-nav {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      background: #16161a;
      display: block;
      padding: 40px 0;
      text-align: center;
      transition: all 0.3s ease-in-out;

      a.nav-link {
        margin-top: 45px;
        font-size: 23px;
      }
      .active::after {
        content: "";
        display: block;
        position: absolute;
        left: 45.5%;
        width: 50px;
        height: 2px;
        background: #f2ad5f;
        border-radius: 27px;
        text-align: center !important;
      }
    }
    .navbar-nav.active {
      left: 0%;
    }
  }
}

@media (max-width: 987px) {
  .sticky {
    padding: 10px 20px !important;
  }
  nav.navbar {
    padding: 40px 20px;
    .navbar-nav {
      a.nav-link {
        margin-left: 12px;
      }
    }
  }
}
