main.main-reason {
  margin-top: 150px;
  .reason {
    img {
      width: 563.01px;
    }
  }

  .col-reason {
    .reason-content {
      h1 {
        font-weight: 600;
        font-size: 48px;
        color: #0f1d37;
      }
      .about {
        font-weight: normal;
        font-size: 22px;
        color: #0f1d37;
      }
    }
  }
}
