main.main-reason {
  margin-top: 150px;
  .reason {
    img {
      width: 563.01px;
    }
  }

  .col-reason {
    .reason-content {
      h1 {
        font-weight: 600;
        font-size: 48px !important;
        color: #0f1d37;
      }
      .about {
        font-weight: normal;
        font-size: 22px;
        color: #0f1d37;
      }
    }
  }
}

@media (max-width: 768px) {
  main.main-reason {
    .col-reason {
      .reason-content {
        margin-top: 50px;
        h1 {
          font-weight: 600;
          font-size: 35px !important;
          color: #0f1d37;
        }
        .about {
          font-weight: normal;
          font-size: 22px;
          color: #0f1d37;
        }
      }
    }
  }
}
