@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
section.header-section {
  position: relative;
  margin-bottom: 200px;
  margin-top: -70px;
  width: 100%;
  height: 856px;
  overflow: hidden;
}

section.header-section img {
  position: absolute;
  width: 1455.19px;
  left: 0px;
  top: 50px;
}

section.header-section .content {
  position: relative;
}

section.header-section .content h1 {
  font-weight: 600;
  font-size: 65px;
  line-height: 80px;
  color: #fff;
  padding-top: 220px;
  font-weight: 600;
  margin-bottom: 30px;
}

.ilustration {
  margin-top: -500px;
}

.ilustration img {
  width: 725.58px;
  margin-bottom: 50px;
}

.partner img {
  width: 202.1px;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vh;
  height: 856px;
  background: #10495c;
  border-radius: 50%;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateX(-50%) scale(4);
          transform: translateX(-50%) scale(4);
}

/* responsive */
@media (max-width: 768px) {
  section.header-section .content h1 {
    font-size: 50px;
    padding-top: 250px;
    margin-bottom: 30px;
  }
  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vh;
    height: 856px;
    background: #10495c;
    border-radius: 50%;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: translateX(-50%) scale(3);
            transform: translateX(-50%) scale(3);
  }
  .ilustration {
    margin-top: -400px !important;
  }
  .ilustration img {
    width: 725.58px;
    margin-bottom: 50px;
  }
  .partner img {
    margin-bottom: 20px;
    width: 202.1px;
  }
}

@media (max-width: 479px) {
  section.header-section .content h1 {
    font-size: 40px;
    padding-top: 270px;
    line-height: 60px;
  }
  section.header-section img {
    position: absolute;
    width: 1200px;
    left: 0px;
    top: 100px;
  }
  section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vh;
    height: 856px;
    background: #10495c;
    border-radius: 50%;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: translateX(-50%) scale(2);
            transform: translateX(-50%) scale(2);
  }
  .ilustration {
    margin-top: -350px !important;
  }
  .ilustration img {
    width: 725.58px;
    margin-bottom: 0px;
  }
  .partner img {
    margin: -20px 0 40px 0;
    width: 202.1px;
  }
}

* {
  font-family: "Asap", sans-serif;
}

nav.navbar {
  padding: 40px 90px;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav.navbar .container-fluid {
  padding: 0;
}

nav.navbar .navbar-nav a.nav-link {
  font-size: 20px;
  color: #b0c3c9;
  margin-left: 23px;
}

nav.navbar .navbar-nav .active {
  font-weight: 500;
  color: #f2ad5f !important;
}

nav.navbar .navbar-nav .active::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 2px;
  background: #f2ad5f;
  border-radius: 27px;
}

.sticky {
  padding: 10px 90px !important;
  background: #16161a;
  color: #fffffe;
}

/* responsive */
@media (max-width: 768px) {
  .sticky {
    padding: 10px 20px !important;
  }
  nav.navbar {
    padding: 40px 20px;
  }
}

@media (max-width: 987px) {
  .sticky {
    padding: 10px 20px !important;
  }
  nav.navbar {
    padding: 40px 20px;
  }
  nav.navbar .navbar-nav a.nav-link {
    margin-left: 12px;
  }
}

main.main-reason {
  margin-top: 150px;
}

main.main-reason .reason img {
  width: 563.01px;
}

main.main-reason .col-reason .reason-content {
  /* more info */
}

main.main-reason .col-reason .reason-content h1 {
  font-weight: 600;
  font-size: 48px !important;
  color: #0f1d37;
}

main.main-reason .col-reason .reason-content .about {
  margin: 50px 0 50px 0;
  font-size: 22px;
  color: #0f1d37;
}

main.main-reason .col-reason .reason-content .about ul li {
  margin: 30px 0 0 -35px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.main-reason .col-reason .reason-content .about .radio__input {
  display: none;
}

main.main-reason .col-reason .reason-content .about .radio__radio {
  width: 28px;
  height: 28px;
  border: 1.5px solid #0f1d37;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px;
  margin-right: 16px;
}

main.main-reason .col-reason .reason-content .about .radio__radio::after {
  content: "";
  width: 18px;
  height: 18px;
  margin-left: -3%;
  margin-top: -3%;
  display: block;
  background: #10495c;
  border-radius: 50%;
}

main.main-reason .col-reason .reason-content .about .radio__radio_ornge {
  width: 28px;
  height: 28px;
  border: 1.5px solid #0f1d37;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4px;
  margin-right: 16px;
}

main.main-reason .col-reason .reason-content .about .radio__radio_ornge::after {
  content: "";
  width: 18px;
  height: 18px;
  margin-left: -3%;
  margin-top: -3%;
  display: block;
  background: #f2ad5f;
  border-radius: 50%;
}

main.main-reason .col-reason .reason-content .more a {
  font-size: 16px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0f1d37 !important;
}

@media (max-width: 768px) {
  main.main-reason .col-reason .reason-content {
    margin-top: 50px;
  }
  main.main-reason .col-reason .reason-content h1 {
    font-weight: 600;
    font-size: 35px !important;
    color: #0f1d37;
  }
  main.main-reason .col-reason .reason-content .about {
    font-weight: normal;
    font-size: 22px;
    color: #0f1d37;
  }
}

.main-featured {
  margin-top: 150px;
}

.main-featured h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: #0f1d37;
}

section .btn-cte {
  width: 170px;
  height: 45px;
  background: #f2ad5f;
  border-radius: 56px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #986121;
}

section .btn-cte::after {
  content: "";
  display: block;
  margin: 7px 15px 0 15px;
  width: 119px;
  height: 6px;
  left: 661px;
  top: 407px;
  background: #f2ad5f;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  border-radius: 85px;
}
/*# sourceMappingURL=main.css.map */